<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <form action="/login" method="POST">
        <div>
          <label for="email">Email: *</label>
          <input type="email" name="username" id="email" required />
        </div>
        <div>
          <label for="password">Password: *</label>
          <input type="password" name="password" id="password" required />
        </div>
        <button type="submit">Log in</button>
      </form>
      <p>Don&#39;t have an account? <a href="/signup">Create one here</a></p>
      <p><a href="/">Home</a></p>
    </main>
  </body>
</html>
